.nav {
    background-color: var(--dark-blue);
    /* margin-bottom: .75rem; */
}

.navbrand {
    color: white;
    text-decoration: none;
    letter-spacing: 7px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.navbrand span:first-child {
    color: red;
}

.navlink {
    color: var(--text-color);
    padding: 5px;
}

.activelink {
    color: white;
    font-weight: 600;
}

.navtoggle {
    background-color: white !important;
}

.logout {
    all: unset;
    color: white;
    font-weight: 700;
}

@media only screen and (max-width: 992px) {
    .navbrand {
        font-size: 20px;
    }

    .navlink {
        color: var(--dark-blue);
        display: block;
        width: 100%;
        border-radius: 7px;
        padding: 5px;
    }

    .navlink:hover {
        background-color: rgba(211, 211, 211, 0.473);
    }

    .logout {
        color: black;
    }
}